/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}
/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Stillingar */

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --font-base-body-px: 16px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 900px;

  /* Border breiddir */
  --border-small: 1px;
  --border-large: 8px;
  --border-radius: 6px;

  /* Litir */
  --color-gold: #ffe7ae;
  --color-gold-light: #fff1cf;
  --color-dark: #2f0505;
  --color-light: #fff9ee;

  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: 'Noto Sans Display', Helvetica, Arial, sans-serif;
  --font-family-heading: 'Lora', Georgia, serif;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: var(--border-small);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: var(--border-small);
}

/*** Almennt ***/

html,
input,
select,
button {
  font-size: var(--font-base-body-px);
  font-family: 'Lora', serif;
}

a {
  color: inherit;
}

h2,
h3,
section {
  margin-bottom: var(--spacing);
}

img {
  max-width: 100%;
}

.underline-title {
  border-bottom: 1px solid var(--color-dark); 
  display: inline-block; 
  padding-bottom: 1px; 
  width: 95%;
}


/*** Haus ***/

.wrapper{
  display: flex;
  flex-direction: column;

  gap: var(--spacing);

}

.header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  border-bottom: var(--border-large) solid var(--color-gold);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-gold-light);
}

/*** Valmynd ***/

.nav {
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  background-color: var(--color-light);
  color: var(--color-dark);
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: var(--spacing);
}

/*** Meginmál ***/

.main {
  margin: 0 auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  max-width: var(--max-width);
}

/*** Fótur ***/

.footer {
  margin-top: var(--spacing);
  padding: var(--spacing);
  border-top: var(--border-large) solid var(--color-gold);

  background-color: var(--color-dark);
  color: var(--color-gold-light);

  text-align: center;
}

.footer > section {
  display: inline-block;
  vertical-align: top;
}

.footer ul {
  list-style: none;
  text-align: center;
}

/*** Box! ***/

.boxes {
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: var(--spacing);

  padding-bottom: var(--spacing);
}

.boxes .box {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
  background-color: var(--color-gold-light);

  padding-left: var(--spacing);
  margin-bottom: var(--spacing);
  width: 48%;
}

.boxes .box .buttons {
  display: flex;
}

.boxes .box a {
  
  margin-top: var(--spacing);
  font-weight: bold;
  margin-bottom: var(--spacing);
}

/*** Opnunartími ***/

dt {
  font-weight: bold;
}

dd {
  margin-bottom: var(--spacing);
}

/*** Matseðill ***/


.matsedill-header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  border-bottom: var(--border-large) solid var(--color-gold);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-gold-light);
}

.matsedill-nav {
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  background-color: var(--color-light);
  color: var(--color-dark);
}

table {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing);
  border-spacing: 0;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

table th,
table td {
  font-size: var(--font-base-size);
  padding: 0.5rem;
}

table tbody tr:nth-child(2n + 1) {
  background-color: var(--color-gold);
}


.footer-matsedill {
  margin-top: var(--spacing);
  padding: var(--spacing);
  border-top: var(--border-large) solid var(--color-gold);

  background-color: var(--color-dark);
  color: var(--color-gold-light);

  text-align: center;
}

.footer-matsedill > section {
  display: inline-block;
  vertical-align: top;
}

.footer-matsedill ul {
  list-style: none;
  text-align: center;
}


/*** Pöntunarform ***/

.pontun-wrapper{
  display: flex;
  flex-direction: column;

  gap: var(--spacing);

}

.pontun-header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  border-bottom: var(--border-large) solid var(--color-gold);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-gold-light);
}

.pontun-nav {
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  background-color: var(--color-light);
  color: var(--color-dark);
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: var(--spacing);
}


fieldset {
  margin-bottom: var(--spacing);
  border: var(--border-small) solid var(--color-gold);
  padding: var(--spacing);
}

fieldset legend {
  font-weight: bold;
}

fieldset.box {
  border: var(--border-small) solid var(--color-dark); /* Adjust the border width and style as needed */
}

fieldset div {
  margin-bottom: var(--spacing);
}

fieldset div label {
  display: block;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: 0.5rem;
}

fieldset input[type='checkbox'] {
  display: inline-block;
  margin-right: 0.5rem;
}

form button {
  padding: 0.25rem;
  border-radius: var(--border-radius);
}

.pontun-footer {
  margin-top: var(--spacing);
  padding: var(--spacing);
  border-top: var(--border-large) solid var(--color-gold);

  background-color: var(--color-dark);
  color: var(--color-gold-light);

  text-align: center;
}

.pontun-footer > section {
  display: inline-block;
  vertical-align: top;
}

.pontun-footer ul {
  list-style: none;
  text-align: center;
}




.um-wrapper{
  display: flex;
  flex-direction: column;

  gap: var(--spacing);

}

.um-header {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  border-bottom: var(--border-large) solid var(--color-gold);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark);
  color: var(--color-gold-light);
}

.um-nav {
  margin-bottom: var(--spacing);
  padding: var(--spacing);

  background-color: var(--color-light);
  color: var(--color-dark);
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: var(--spacing);
}

.um-main {
  margin: 0 auto;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  max-width: var(--max-width);
}

